<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Kaiso Admin - Painel</title>
</head>
<body>
    <!--------------- Menu ------------------->
<div class="wrapper">
    <div id="menu" onclick="show()">
        <div>
            <div class="header">
                <img class="logo" src="./img/logo.png" alt="Logo-Kaiso">
                <div>
                    <span>Olá, Leandro!</span>
                    <img class="user" src="./img/user.svg" alt="Perfil">
                </div>
            </div>
            <a href="painel.html"><img class="mIco" src="./img/gauge.svg" alt=""><h2>Painel</h2></a>
            <a href="pedidos.html"><img class="mIco" src="./img/box.svg" alt=""><h2>Pedidos</h2></a>
            <a href="clientes.html"><img class="mIco" src="./img/user.svg" alt=""><h2>Clientes</h2></a>
            <a href="destaques.html"><img class="mIco" src="./img/shooting-stars.svg" alt=""><h2>Destaques</h2></a>
            <a href="cupom.html"><img class="mIco" src="./img/coupon.svg" alt=""><h2>Cupom</h2></a>
            <a class="cor" href="produtos.html"><img class="mIco" src="./img/sushi.svg" alt=""><h2>Produtos</h2></a>
            <a href="frete.html"><img class="mIco" src="./img/truck.svg" alt=""><h2>Frete</h2></a>
            <a href="categorias.html"><img class="mIco" src="./img/list.svg" alt=""><h2>Categorias</h2></a>
            <a href="./index.html"><img class="mIco" src="./img/logout.svg" alt=""><h2>Sair</h2></a>
        </div>
        <div class="mobMenu">
            <div>
                <img class="menuArrows" src="./img/arrows.svg" alt="">
            </div>
            <div>
                <img src="./img/logo.png" alt="" class="smalllogo">
            </div>
            <div>
                <img id="close" src="./img/close.svg" alt="">
            </div>
        </div>
    </div>
    <!----------- End of Menu-->
    <!------------ Começo do Corpo-->
    <div class="corpo grid produto-grid mob-fix" style="--cols: 2">
        <div class="produto-left">
            <h4>Nome do produto</h4>
            <div class="bef">
                <form>
                    <div>
                    <label for="nome">
                        Nome do produto
                    </label>
                    <input type="text" name="" id="nome">
                    <label for="slug">Slug</label>
                    <input type="text" name="" id="slug">       
                    </div>
                    <div class="grid" style="--cols: 2">
                        <div class="valores">
                        <label for="valor">
                            Valor
                        </label>
                        <input type="number" id="valor">
                        </div>
                        <div class="valores">
                        <label for="valor-prom">
                            Valor Promocional
                        </label>
                        <input type="number" id="valor">
                        </div>
                    </div>                        
                    <label for="desc">
                    Descrição
                    </label>
                    <div id="desc" class="container-areatexto">                
                    <textarea name="" cols="15" rows="100"></textarea>
                    </div>
                    <br>
                    <h5>Imagem de Destaque</h5>
                    <div class="imagem-destaque">
                        <img src="./img/default.png" alt="">
                    </div>
                    <br>
                    <h5>Imagens do produto</h5>
                    <div class="space" style="height: 10px;"></div>
                    <div class="space" style="height: 10px;"></div>
                    <div class="produto-imagens grid" style="--cols: 3">
                        <div>
                            <span class="plano-de-fundo-img">
                                <img src="./img/default.png" alt="" class="mini-img">
                                <label for="file">Carregar Imagem</label>
                                <input type="file" name="" id="file">
                            </span>
                        </div>
                        <div>
                            <div class="plano-de-fundo-img">
                                <img src="./img/default.png" alt="" class="mini-img">
                                <label for="file">Carregar Imagem</label>
                                <input type="file" name="" id="file">
                            </div>
                        </div>
                        <div>
                            <div class="plano-de-fundo-img">
                                <img src="./img/default.png" alt="" class="mini-img">
                                <label for="file">Carregar Imagem</label>
                                <input type="file" name="" id="file">
                            </div>
                        </div>
                    </div>
                    <div>
                        <input type="submit" value="Salvar">
                    </div>
                </form>
            </div>

        </div>
        <div class="produto-right">
            <h4>Categorias</h4>
            <div class="bef lista-categorias">
                <div class="grid-custom" style="--cols: 1fr 20px">
                    <span>Categoria 1</span>
                    <input type="checkbox" name="" id="">
                </div>
                <div class="grid-custom" style="--cols: 1fr 20px">
                    <span>Categoria 2</span>
                    <input type="checkbox" name="" id="">
                </div>
                <div class="grid-custom" style="--cols: 1fr 20px">
                    <span>Categoria 3</span>
                    <input type="checkbox" name="" id="">
                </div>
                <div class="grid-custom" style="--cols: 1fr 20px">
                    <span>Categoria 4</span>
                    <input type="checkbox" name="" id="">
                </div>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>