<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./img/maki.png">
    <link rel="stylesheet" href="style.css">
    <title>日本語わからない</title>
</head>
<body>
    <div class="wrapper">
        <div id="menu" onclick="show()">
            <div>
                <div class="header">
                    <img class="logo" src="./img/logo.png" alt="Logo-Kaiso">
                    <div>
                        <span>Olá, Leandro!</span>
                        <img class="user" src="./img/user.svg" alt="Perfil">
                    </div>
                </div>
                <a href="painel.html"><img class="mIco" src="./img/gauge.svg" alt=""><h2>Painel</h2></a>
                <a href="pedidos.html"><img class="mIco" src="./img/box.svg" alt=""><h2>Pedidos</h2></a>
                <a href="clientes.html"><img class="mIco" src="./img/user.svg" alt=""><h2>Clientes</h2></a>
                <a href="destaques.html"><img class="mIco" src="./img/shooting-stars.svg" alt=""><h2>Destaques</h2></a>
                <a href="cupom.html"><img class="mIco" src="./img/coupon.svg" alt=""><h2>Cupom</h2></a>
                <a href="produtos.html"><img class="mIco" src="./img/sushi.svg" alt=""><h2>Produtos</h2></a>
                <a class="cor" href="frete.html"><img class="mIco" src="./img/truck.svg" alt=""><h2>Frete</h2></a>
                <a href="categorias.html"><img class="mIco" src="./img/list.svg" alt=""><h2>Categorias</h2></a>
                <a href="./index.html"><img class="mIco" src="./img/logout.svg" alt=""><h2>Sair</h2></a>
            </div>
            <div class="mobMenu">
                <img class="menuArrows" src="./img/arrows.svg" alt="">
                <img id="close" src="./img/close.svg" alt="">
            </div>
        </div>
        <!----------- End of Menu-->
        <!------------ Começo do Corpo-->
        <div class="corpo">
            <h4>Editar Frete</h4>
           <form class="editor-frete bef" action="">
               <div class="corL">
                <div>
                    <label for="localizacao">Localização</label>
                    <input type="text" name="" id="localizacao">
                </div>
                <div>
                    <label for="taxa">Taxa</label>
                    <input type="text" name="" id="taxa">
                </div>
                
                <input type="submit" value="Adicionar">
                </div>
           </form>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>